#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    background-color: #fff;
}

#sobre #conhecer button {
    display: flex;
    padding: 1em 1.5em;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

#sobre #content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8em;
    padding-bottom: 3em;
}

#sobre #content #text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#sobre #content p {
    line-height: 1.7em;
}

#sobre :is(#conhecer, #skills) {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: start;
    text-align: left;
}

#sobre :is(#conhecer h3, #skills h3) {
    background: linear-gradient(180deg, #000 0%, #001354 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sobre #conhecer p {
    color: #010D3E;
}

#sobre #conhecer strong a {
    color: #183EC2;
    text-decoration: underline;
}

#sobre #conhecer .scroll-contato {
    width: min-content;
}

#sobre #conhecer button.cta {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: 10em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1.5em 6.5em;
}

#sobre #conhecer button.cta img {
    filter: invert(1);
    transform: rotate(90deg);
}

#sobre #skills {
    max-width: 40em;
    height: min-content;
}

#sobre #skills select {
    cursor: pointer;
    appearance: none;
    border: 1px solid #000;
    color: #111;
    border-radius: 10px;
    padding: 1em 1.5em;
    font-size: var(--default-size);
    font-weight: 600;
    background-image: url('../../../../assets/icons/triangle_down.svg');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 5%;
    max-width: 16.5em;
}

option {
    padding: 5px;
    margin: 4px 0;
}

#sobre :is(#coding-skills, #design-skills, #tools-skills) {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

@media (max-width: 992px) {
    #sobre #content {
        grid-template-columns: 1fr;
    }
}