#projetos .card {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1.5em;
    box-shadow: var(--shadow-default);
    border-radius: 10px;
    background-color: #fff;
}

#projetos .image img {
    width: 100%;
    border-radius: 10px;
}

#projetos .card .title {
    color: #000;
    font-weight: 500;
    /*! ???  */
    letter-spacing: 1px;
}

#projetos .card .cta {
    display: flex;
    gap: .5em;
    align-items: center;
    align-self: end;
    font-family: 'Inter';
    font-weight: 700;
    color: #183EC2;
}

#projetos .card .cta img {
    height: 24px;
}